@model ZplrmApp.Models.LocalPasswordModel

@using (Html.BeginForm("Manage", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Променам лозинката</legend>
        
        <div class="control-group">
            <label class="control-label" for="TemaIme">Моментална лозинка</label>
            <div class="controls">
                @Html.PasswordFor(model => model.OldPassword)
                @Html.ValidationMessageFor(model => model.OldPassword)
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="TemaIme">Нова лозинка</label>
            <div class="controls">
                @Html.PasswordFor(model => model.NewPassword)
                @Html.ValidationMessageFor(model => model.NewPassword)
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="TemaIme">Потврди нова лозинка</label>
            <div class="controls">
                @Html.PasswordFor(model => model.ConfirmPassword)
                @Html.ValidationMessageFor(model => model.ConfirmPassword)
            </div>
        </div>
        
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn">Сними</button>
            </div>
        </div>   

    </fieldset>
}
