@model ZplrmApp.Models.Prezenteri

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Prezenteri</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PrezenterFaksimil)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PrezenterFaksimil)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PrezenterImePrezime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PrezenterImePrezime)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Gradovi.GradIme)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Gradovi.GradIme)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MobilePhone)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MobilePhone)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FixedPhone)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FixedPhone)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
