@model IEnumerable<ZplrmApp.Models.Prezenteri>

@{
    ViewBag.Title = "Презентери";
}
<link href="@Url.Content("~/Content/kendo.compatibility.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/kendo/2012.3.1315/kendo.common.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/kendo/2012.3.1315/kendo.uniform.min.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/kendo/2012.3.1315/jquery.min.js")"></script>
<script src="@Url.Content("~/Scripts/kendo/2012.3.1315/kendo.all.min.js")"></script>
<script src="@Url.Content("~/Scripts/kendo/2012.3.1315/kendo.aspnetmvc.min.js")"></script>
<script src="@Url.Content("~/Scripts/kendo.modernizr.custom.js")"></script>
<style type="text/css">
    .lead {
        margin-bottom: 0px;
    }
</style>
<script type="text/javascript">
    function clearFiter() {
        var grid = $("#Grid").data("kendoGrid");
        grid.dataSource.filter({});
    }
</script>

<div class="well">   
    <p class="lead">Презентери</p> 
</div>

<div class="row">
    <div class="span2">
        <p>@Html.ActionLink("Додади нов", "Create",null, new { @class="btn"})</p>
    </div>
    <div class="pull-right">
        <p><button class="btn" onclick="clearFiter()">Ресетирај филтер</button></p>
    </div>
</div>
@(Html.Kendo().Grid(Model)    
    .Name("Grid")
    .Columns(columns =>
    {
        columns.Bound(p => p.PrezenterFaksimil).Title("Факсимил");
        columns.Bound(p => p.PrezenterImePrezime).Title("Име презиме");
        columns.Bound(p => p.Gradovi.GradIme).Title("Град");
        columns.Bound(p => p.Email).Title("Е-маил");
        columns.Bound(p => p.MobilePhone).Title("Мобилен тел.");
        columns.Bound(p => p.FixedPhone).Width(100).Title("Фиксен тел.");
        columns.Template(@<text>@Html.ActionLink("Промени", "Edit", new {  faksimil = item.PrezenterFaksimil})</text>).Width(70);
        @*columns.Template(@<text>@Html.ActionLink("Детали", "Details", new {  faksimil = item.PrezenterFaksimil })</text>).Width(70);*@
        columns.Template(@<text>@Html.ActionLink("Избриши", "Delete", new { faksimil = item.PrezenterFaksimil })</text>).Width(70);
    })
    .Filterable(filterable => filterable
        .Extra(false)
        .Operators(operators => 
            operators.ForString(str => str.Clear()
                .StartsWith("Почнува со")
                .IsEqualTo("Е еднакво на")
                .IsNotEqualTo("Е различно од")
                .Contains("Содржи"))             
            )
        .Operators(operators => 
            operators.ForDate(str => str.Clear()
                .IsEqualTo("Е еднаков на")
                .IsGreaterThan("Е поголем")
                .IsGreaterThanOrEqualTo("Е поголем или еднаков")
                .IsLessThan("Е помал")
                .IsLessThanOrEqualTo("Е помал или еднаков"))
            )
        .Operators(operators => 
            operators.ForNumber(str => str.Clear()
                .IsEqualTo("Е еднаков на")
                .IsGreaterThan("Е поголем")
                .IsGreaterThanOrEqualTo("Е поголем или еднаков")
                .IsLessThan("Е помал")
                .IsLessThanOrEqualTo("Е помал или еднаков"))
            )
        ) 
    .Pageable()
    .Sortable()
    .DataSource(dataSource => dataSource
            .Server()
            .Model(model => model.Id(p => p.PrezenterFaksimil))
            
            )
    )
