@model ZplrmApp.Models.Gradovi

@{
    ViewBag.Title = "Градови";
}

@using (Html.BeginForm("Create", "Gradovi", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Нов град</legend>

        <div class="control-group">
            <label class="control-label" for="TemaOpis">Име</label>
            <div class="controls">
                @Html.EditorFor(model => model.GradIme)
                @Html.ValidationMessageFor(model => model.GradIme)
            </div>
        </div>

        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn">Сними</button>
            </div>
        </div>     

    </fieldset>
}

<div>
    @Html.ActionLink("Назад на листата", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
